.container-orca{
    display: grid;
    width: 100%;
    border: #e6daa8 solid 2px;
    background-color: #391f15;
}
.container-orca .content1{
    width: 100%;
    height: auto;
    text-align: left;
}
.container-orca .content1 .text{
    margin: 0px 20px;
    color: white;
}
.container-orca .content1 .title{
    font-weight: 600;
    margin-top: 20px;
    margin: 15px 20px 0px 20px;
    color: white;
}
.container-orca .content1 .btn{
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 4px;
    border: solid 2px #e6daa8;
    color: #e6daa8;
    margin-top: 40px;
    transition: .3s;
    margin: 15px 20px 0px 20px;
}
.container-orca .content1 .btn:hover{
    background-color: #e6daa8;
    transform: scale(105%);
    transition: .3s;
    color: white;
}
